/* FONTS  */
/* ROOT  */
/* GLOBALL */

html {
     height: 100%;
     box-sizing: border-box;
     scroll-behavior: smooth;
}

*,
*::before,
*::after {
     box-sizing: border-box;
}

body {
     display: flex;
     height: 100%;
     padding: 0;
     margin: 0;
     flex-direction: column;
     background-color: #fff;
     color: #aaa;
     font-family: "Arial" sans-serif;
     font-size: 16px;
     line-height: 1.5;
}

img {
     max-width: 100%;
     height: auto;
}

/* AUTOFILL-STYLES */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
     border-color: transparent;
     -webkit-text-fill-color: inherit;
     -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

/* PLACEHOLDER-STYLES */
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
     color: rgba(52, 49, 61, 0.5);
     opacity: 1;
}

.visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     overflow: hidden;
}

/* CONTAINER  */

.container {
     width: 100%;
     max-width: 1200px;
     padding-left: 50px;
     padding-right: 50px;
     margin-left: auto;
     margin-right: auto;
}

.main-content {
     flex-grow: 1;
}
.bg-light{
     background-color: #685c5c!important;
}
.navbar-nav .nav-item .nav-link{
     color: white;
}
.navbar-nav .nav-item .nav-link:hover{
     color: #aaa;
     opacity: 0.6;
}
.navbar-light .navbar-toggler-icon{
     color: #fff;
}
.carousel-control-next-icon {
     background-image: none;
 }
 .carousel-control-next-icon{
     background-image:none;
 }
 /* .carousel-indicators li{
     background-color: #685c5c;
 } */
 section .box-1{
     background-color: #ebe7e7;
     text-align: center;
     padding: 35px 0;
     margin-top: 80px;
     border-radius: 10px;
 }

section .box{
     background: #ebe7e7;
     text-align: center;
     margin-top: 80px;
     border-radius: 20px;
}
section .box img{
     width: 100%;
 }
 section .box h2{
     font-size: 24px;
     color: #000339;
     margin-top: 30px;
 }


@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {}